*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}

h2{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
}
#big_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto; 
	text-align:left;
}
#top_header{
	background:yellow;
	border: 1px solid blue;
	padding: 20px;
}
#top_menu{
	background:blue;
	color:white;
}
#top_menu li{
	display:inline-block;
	list-style:none;
	padding: 5px;
	font: bold 14px Tahoma;
}
#main_section{
	float: left;
	width: 660px;
	margin: 30px; /*720px, 280 left */
}
#side_news{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66CCCC;
}
#the_footer{
	clear:both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green;
}
article {
	background: #FFFBCC;
	border: 1px solid red;
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align:right;
}
